<div class="column is-half">
  <div class="box">
    <h1 class="title is-4">My Events</h1>
      <% @user.created_events.each do |event| %>
        <article class="media">
          <div class="media-content">
            <%= link_to event, class: 'has-text-grey' do %>
              <p><%= event.title %></p>
            <% end %>
          </div>
        </article>
      <% end %>
    </div>
</div>
