<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <%= render 'upcoming_events' %>
    </div>
    <div class="columns is-centered">
      <%= render 'past_events' %>
    </div>
  </div>
</section>
